extends layout

append head
  link(rel="stylesheet" href="/stylesheets/navBar.css")

block content
  div(id="big-container")
    div(id='question-container')
      h3 Question:
      //- TODO: (below) ---- #{question}
      //- this is temporary question
      h3(class='question') #{question}
    div(id='answer-container')
      h3 Your Answer:
      textarea(name='answer' class='answer-textarea')
      button(type='submit' class='cancel-button') Cancel
      button(type='submit' class='answer-button') Post Your Answer
