extends layout

block content
  section()
    div(class="ask-question-container")
      div(class="ask-question-form")
          form(class="ask-question")
            div(class="error-messages")
              h1= message
              h2 Error Status #{error.status}
