extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  //- import Bootstrap
  //- link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  //- Bootstrap is mobile first.  the viewport meta tag
  //- meta(name="viewport" content="width=device-width, initial-scale=1")


block content
  div(id="main-header-container")
    div(id="logo-title-div")
      img(src="../images/logo4b.png" alt="tree logo" class="tree-logo")
      h1(class="plant-title-h1") #{title}
    div(id="search-container")
      form(action="/form/submit" method="GET")
      input(type="text" name="text" class="search" placeholder="Search here!")
      input(type="submit" name="submit" class="submit" value="Search")
    div(id="header-buttons-right")
      button(type="submit" class="login-button") Log in
      button(type="submit" class="signup-button") Sign Up
  div(id="main-middle-container")
    div(id="left-side-bar")
      div(class="side-bar-container")
        h4(class="side-bar") Home
        h4(class="side-bar") Messages
        h4(class="side-bar") Questions
        h4(class="side-bar") Users
        h4(class="side-bar") Tags
    div(id="right-questions-bar")
      div(class="question-container")
        h2(class="top-questions") Top Questions
        button(type="submit" class="ask-question-button") Ask a Question
      div(class="questions-list-container")
        div(class="vote-answers-views-div") vote . answers . views
        div(class="per-question")  What is a plant?




  //- div(class="title-img-div")
  //-   div(class="title-div")
  //-     h1(class="plant-title") #{title}


  //- div(class="tree-img-container")
  //-   img(src="../images/favicon-tree.png" alt="tree image" class="tree-img2")


//- HOME PAGE
