extends layout

append head
  link(rel="stylesheet" href="/stylesheets/index.css")

  script(src="/javascripts/index.js" type="module" defer)



block content
  section(id="main-content-container")
    div(id="main-content")
      div(id="side-bar")
        li(class="side-bar-li") Home
        li(class="side-bar-li") Questions
        li(class="side-bar-li") Users
        li(class="side-bar-li") Categories
      div(id="questions-section")
        ul(id="questions-header")
          li: h2(class="questions-title") Top Questions
          li: button(type="submit" class="ask-question-button"): a(href='/') Ask a Question


        div(id="questions-container")
          ul(class="question-data")
            li(class="question-answers-number") 1
            li(class="question-answer-title") answers
          ul(class="question-section")
            li(class="question-link"): a(href="/") What does it mean if my monstera is dripping water from the tips of its leaves?
            li(class="question-categories")
              span(class="question-category-link"): a(href="/") category
              span(class="question-category-link"): a(href="/") category
              span(class="question-category-link"): a(href="/") category
      div(id="empty-right-bar")
