extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/navBar.css")

  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)



block content
  div(id="main-middle-container")
    div(id="left-side-bar")
      div(class="side-bar-container")
        h4(class="side-bar") Home
        h4(class="side-bar") Messages
        h4(class="side-bar") Questions
        h4(class="side-bar") Users
        h4(class="side-bar") Tags
    div(id="right-questions-bar")
      div(class="top-question-button-container")
        h2(class="top-questions") Top Questions
        button(type="submit" class="ask-question-button") Ask a Question
      div(class="per-question-container")
        div(class="vote-answers-views-div") vote . answers . views
        //-  this will have 3 divs for vote . answers . views
        div(class="per-question")  What is a plant?
      div(class="per-question-container")
        div(class="vote-answers-views-div") vote . answers . views
        //-  this will have 3 divs for vote . answers . views
        div(class="per-question")  Why does water help plant grow?
      div(class="per-question-container")
        div(class="vote-answers-views-div") vote . answers . views
        //-  this will have 3 divs for vote . answers . views
        div(class="per-question")  Why are plants green??





  //- div(class="title-img-div")
  //-   div(class="title-div")
  //-     h1(class="plant-title") #{title}


  //- div(class="tree-img-container")
  //-   img(src="../images/favicon-tree.png" alt="tree image" class="tree-img2")


//- HOME PAGE
