extends layout


block content
  section(class="main-content-container")
    div(id="main-content")
      div(id="side-bar")
        li(class="side-bar-li") Home
        li(class="side-bar-li") Questions
        li(class="side-bar-li") Users
        li(class="side-bar-li") Categories
      div(id="questions-section")
      div(id="empty-right-bar")
  script(src="/javascripts/index.js" type="module" defer)
