doctype html
html
  head
      block head
            title="Stalk Overgrow"
            meta(name="viewport" content="width=device-width, initial-scale=1")
            link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css")
            link(rel="stylesheet" href="/stylesheets/index.css")
            script(type="module" src="/javascripts/eventlisteners.js" )

      body
          nav(class="main-header-container")
            ul(id="logo-title-div")
              li: h1(class="nav-bar-logo"): a(href="/") stalk overflow
            ul(id="search-container")
              li: form(action="/search/" method="POST" class="search-form" id="search-form")
                    input(type="text" name="text" class="search-bar" placeholder="Search...")
                    input(type="submit" name="search-form" class="search-bar-submit-button" value="Search")
            if locals.authenticated
              ul(class="signed-in")
                li(id="usersName") Hi, #{user.fullName}!
                li: form(action='/users/logout' method='post')
                  button(type="submit" class="signup-button") Logout
            else
              ul(id="header-buttons-right" class="signed-out")
                li: button(type="submit" class="login-button"): a(href='/login') Log in
                li: button(type="submit" class="signup-button"): a(href='/sign-up') Sign Up
          block content

          block footer
            #footer
              div(id="footer-container")
                ul(id="name-list") Created by:
                  li Ashleigh Tucker
                    a(class="fab fa-linkedin social-links" target="_blank" href="https://www.linkedin.com/in/ashleighctucker/")
                    a(class="fab fa-github social-links" target="_blank" href="https://github.com/ashleighctucker")
                  li Patrick Wellman
                    a(class="fab fa-linkedin social-links" target="_blank" href="https://www.linkedin.com/in/patrick-wellman-1533551a2/")
                    a(class="fab fa-github social-links" target="_blank" href="https://github.com/patrickwellman")
                  li Sarah Yang
                    a(class="fab fa-linkedin social-links" target="_blank" href="https://www.linkedin.com/in/sarahhhhyang/")
                    a(class="fab fa-github social-links" target="_blank" href="https://github.com/Sarawwrrx3")
