doctype html
html
  head
      block head
            title="Stalk Overflow"
            meta(name="viewport" content="width=device-width, initial-scale=1")
            link(rel="stylesheet" href="./stylesheets/navBar.css")
            link(rel="stylesheet" href="./stylesheets/reset.css")

      body
          nav(id="main-header-container")
            ul(id="logo-title-div")
              li: h1(class="plant-title-h1") stalk overgrow
            ul(id="search-container")
              li: form(action="/form/submit" method="GET")
              li: input(type="text" name="text" class="search-bar" placeholder="Search...")
              li: input(type="submit" name="submit" class="search-bar-submit-button" value="Search")
            ul(id="header-buttons-right")
              li: button(type="submit" class="login-button") Log in
              li: button(type="submit" class="signup-button") Sign Up
          block content
