extends layout 

include utils

block content
  +validationErrorSummary(errors)
  form(action='/users/login' method='POST' class="login-form")
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('User Name', 'userName', user.userName)
    +field('Password', 'password', user.password, 'password') 
    div
      button(type='submit') Login
      a(href='/') Cancel
