extends layout

include utils

block content
  +validationErrorSummary(errors)
  form(action='/users/login' method='POST' class="login-form")
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('User Name', 'userName', userName)
    +field('Password', 'password', password, 'password')
    div
      button(type='submit') Login
      a(href='/') Cancel

  div
    p: a(href='/sign-up') Don't have an account?
