extends layout

include utils

block content
  section()
    div(id="ask-question-container")
      div(id="ask-question-form")
        form(action='/questions' method='POST' class="ask-question")
          +validationErrorSummary(errors)
          input(type='hidden' name='_csrf' value=csrfToken )
          h1(id="form-title") Ask a question
          input(type="text" name="title" class="question-title-input" value=question.title  placeholder="Question title")
          textarea(id="ask-question-field" name="question" placeholder="Ask a question..." value=question.question)
          button(id="question-ask-button") Submit
