extends layout

block content
    div(id="big-container")
        div(id='question-container')
            h3 #{title}
            h3(class='question' name='question') #{question.question}
        div(id='edit-question-container')
            h3 Your New Question:
            textarea(name='answer' class='question-textarea')
            button(href='/' class='cancel-button') Cancel
            button(type='submit' class='question-button') Post Your Question
