extends layout

block content
<<<<<<< HEAD
    p to do
=======
    div(id="big-container")
        div(id='question-container')
            h3 #{title}
            h3(class='question' name='question') #{question.question}
        div(id='edit-question-container')
            h3 Your New Question:
            textarea(name='answer' class='question-textarea')
            button(href='/' class='cancel-button') Cancel
            button(type='submit' class='question-button') Post Your Question
>>>>>>> 70b553af7b4a6b5697e8916f3b11e513c322b44c
