extends layout


block content
  section(class="main-content-container")
    div(class="main-content")
      div(class="side-bar")
        li(class="side-bar-li") Home
        li(class="side-bar-li") Questions
        li(class="side-bar-li") Users
        li(class="side-bar-li") Categories
      div(id="question-section")
      div(class="empty-right-bar")
  script(src="/javascripts/questionview.js" type="module" defer)
