extends layout.pug

append head
    link(rel="stylesheet" href="/stylesheets/index.css")

include utils

block content
    section(id="search-result-container")
        div(id="content-container")
            div(class="left-side")
                li(class="side-bar-li side-bar-link"): a(href="/") Home
                li(class="side-bar-li side-bar-link"): a(href="/search") Questions
            div(class="center")
                ul(class="questions-head")
                    li: h2(class="title")= listTitle
                if error
                    +validationErrorSummary(error)
                    p= error
                else
                    if questions
                        div(class="search-result-questions")
                            each question in questions
                                div(class="question-box")
                                    div(class="question-box-2")
                                        a.search-link(class="search-result-link" href=`/questions/view/${question.id}`
                                            h3(class="question-box-title")= question.title
                                            p(class="result-question")= question.question
            div(class="right-side")
