extends layout

block content
    section(id="splash-page-container")
        div(id="main-content-box")
            div(id="main-content-list")
                ul(id="first-box")
                    li(id="orange-box" class="top-box")
                        div(id="orange-box-icon" class="splash-icon")
                        i(class="fas fa-leaf")
                        div(class="words-in-box") Find the best answer to your technical question, help others answer theirs
                        a( href="/sign-up"): button(id="join-button" class="splash-button") Join the community
                    li(id="blue-box" class="top-box")
                        div(id="blue-box-icon" class="splash-icon")
                        i(class="fas fa-search")
                        div(class="words-in-box") Want a place where you can come get great advice for your plant babies from experts?
                        a( href="/search"): button(id="results-button" class="splash-button") Top search results    
                ul(id="second-box")
                    li(id="top-text") Every plant parent has a
                    li(id="bottom-text"): span(class="small-text") tab open to
                                          span(class="stalk-overflow") Stalk Overflow
                div(class="line")    
                ul(id="third-box")
                    li(id="first-bottom-box" class="bottom-box")
                        div(class="top-label") 100+ million
                        div(class="bottom-content") monthly visitors use Stalk Overflow
                    li(id="second-bottom-box" class="bottom-box")
                        div(class="top-label") 50+ billion
                        div(class="bottom-content") people have gotten help with their plants
                    li(id="third-bottom-box" class="bottom-box")
                        div(class="top-label") 90%
                        div(class="bottom-content") plants survive after using our members' advice
                    li(id="fourth-bottom-box" class="bottom-box")
                        div(class="top-label") 5000+
                        div(class="bottom-content") plant experts use this site, and its growing every day
