/*************** INDEX.PUG *****************/
#main-content {
  display: flex;
  background-color: white;
}

#side-bar {
  padding: 80px 10px 0 30px;
  border-right: 1px solid #1c3738;
  height: 100vh;
  list-style: none;
  flex-basis: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#empty-right-bar {
  padding: 40px 10px 0 30px;
  border-left: 1px solid #1c3738;
  height: 100vh;
  list-style: none;
  flex-basis: 100%;
}

#questions-section {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

#questions-header {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 5%;
  width: 65vw;
  border-bottom: 1px solid #1c3738;
}

.questions-container {
  display: flex;
  border-bottom: 1px solid rgb(208, 208, 208);
  width: 70vw;
}

.side-bar-li {
  padding-top: 10px;
  font-size: 10px;
  color: rgb(82, 82, 82);
}

.ask-question-button {
  background-color: #0a95ff;
  color: white;
  height: 20px;
  border: none;
  padding: 5px;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
  font-size: 8px;
  margin-left: 210px;
}

.ask-question-button:hover {
  background-color: hsl(206, 91%, 35%);
}

.ask-question-button a:visited {
  color: white;
}

.question-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 8px;
  color: rgb(82, 82, 82);
}

.question-answers-number {
  font-size: 10px;
}

.question-section {
  list-style: none;
  font-size: 10px;
  color: #0063bf;
}

.question-link a:visited {
  color: #0063bf;
}

.question-link a:hover {
  color: #03afed;
}

.question-category-link {
  margin: 5px;
  font-size: 8px;
  background-color: #e1ecf4;
  color: #39739d;
}

.question-category-link a:visited {
  color: #39739d;
}

.question-category-link a:hover {
  background-color: #c3dcef;
  color: #2d6185;
}

/* .title-img-div {
    position: relative;
    margin: 50px;
    background-color: #C7CEDB;
    font-size: 50px;
    border-radius: 8px;
    overflow: visible;
}

.title-div {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.8;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */

/* .tree-img-container {
    margin: 50px;
    background-color: #C7CEDB;
} */

/* .tree-img {
    position: relative;
    max-width: 100%;
    border-radius: 8px;
} */

/* .plant-title {
    text-align: center;
} */

/*************** LOGIN.PUG *****************/

/*************** SIGN-UP.PUG *****************/

/*************** ___.PUG *****************/

/*************** ___.PUG *****************/
