/*************** INDEX.PUG *****************/

body {
    text-align: center;
    background-color: #FCFAFA;
    margin: 0;
}

.plant-title-h1 {
    color: #2E3532;
}

#main-header-container {
    justify-content: space-between;
    display: flex;
    margin: 20px;
    border-bottom: 4px solid #1C3738;
}

#logo-title-div {
    flex-grow: 1;
    display: flex;
}

.tree-logo {
    border-radius: 60%;
    width: 60px;
}

#search-container {
    flex-grow: 1;
}

#header-buttons-right {
    flex-grow: 1;
}

#main-middle-container {
    display: flex;
}

/* .title-img-div {
    position: relative;
    margin: 50px;
    background-color: #C7CEDB;
    font-size: 50px;
    border-radius: 8px;
    overflow: visible;
}

.title-div {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.8;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */

/* .tree-img-container {
    margin: 50px;
    background-color: #C7CEDB;
} */

/* .tree-img {
    position: relative;
    max-width: 100%;
    border-radius: 8px;
} */

/* .plant-title {
    text-align: center;
} */

/*************** LOGIN.PUG *****************/

/*************** SIGN-UP.PUG *****************/

/*************** ___.PUG *****************/

/*************** ___.PUG *****************/
