/*************** INDEX.PUG *****************/



#main-middle-container {
    display: flex;
}

#left-side-bar {
    padding: 50px;
    border-right: 2px solid #1C3738;
}

#right-questions-bar {
    padding-top: 50px;
    padding-left: 50px;
    margin: 0;
}

.top-question-button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.per-question-container {
    display: flex;
}

.vote-answers-views-div {
    margin-right: 50px;
}

/* .title-img-div {
    position: relative;
    margin: 50px;
    background-color: #C7CEDB;
    font-size: 50px;
    border-radius: 8px;
    overflow: visible;
}

.title-div {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.8;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */

/* .tree-img-container {
    margin: 50px;
    background-color: #C7CEDB;
} */

/* .tree-img {
    position: relative;
    max-width: 100%;
    border-radius: 8px;
} */

/* .plant-title {
    text-align: center;
} */

/*************** LOGIN.PUG *****************/

/*************** SIGN-UP.PUG *****************/

/*************** ___.PUG *****************/

/*************** ___.PUG *****************/
