.plant-title-h1 {
    color: #2E3532;
}

#main-header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #1C3738;
    text-decoration: none;
    align-items: center;
    background-color: #f8f9f9;
    height: 50px;
}

#logo-title-div {
    display: flex;
    list-style: none;
}


#search-container {
    display: flex;
    list-style: none;
}

#header-buttons-right {
    display: flex;
    list-style: none;
}
