.main-header-container {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  align-items: center;
  background-color: #f8f9f9;
  height: 50px;
  position: fixed;
  width: 100vw;
  box-shadow: 1px 1px 1px rgb(213, 213, 213);
}

#logo-title-div {
  display: flex;
  list-style: none;
}

#search-container {
  display: flex;
  list-style: none;
}

#header-buttons-right {
  display: flex;
  list-style: none;
  margin-right: 5%;
}

.signed-in {
  display: flex;
  list-style: none;
  margin-right: 5%;
}

#usersName {
  margin-right: 20px;
  margin-top: 5px;
  font-size: 1.25rem;
}

.nav-bar-logo {
  color: #2e3532;
  font-size: 130%;
}

.nav-bar-logo a:visited {
  color: #2e3532;
  text-decoration: none;
}

.login-button, .signup-button, .search-bar-submit-button, .search-bar {
  font-size: .75rem;
  height: fit-content;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans", sans-serif;
  margin-left: 2px;
  min-width: fit-content;
}

.signup-button {
  background-color: hsl(206, 100%, 52%);
  color: white;
  border: none;
  height: 35px;
  padding: 10px 20px;
  font-size: 13px;
  border-top: 1px white;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
}

.signup-button:hover {
  background-color: hsl(206, 91%, 35%);
}

.signup-button a:visited {
  color: white;
}

.login-button {
  background-color: #e1ecf4;
  color: #39739d;
  border: none;
  height: 35px;
  padding: 10px 20px;
  font-size: 13px;
  border: 1px solid #d9e4ed;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
}

.login-button:hover {
  background-color: #b8bec3;
}

.login-button a:visited {
  color: #39739d;
}

.search-bar {
  width: 40vw;
  height: 30px;
  border: solid 1px rgb(189, 189, 189);
  color: rgb(82, 82, 82);
}

.search-bar-submit-button {
  background-color: #e1ecf4;
  color: #39739d;
  border: none;
  height: 35px;
  padding: 10px 20px;
  font-size: 13px;
  border: 1px solid #d9e4ed;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
}

.search-bar-submit-button:hover {
  background-color: #b8bec3;
}

.search-bar-submit-button a:visited {
  color: #39739d;
}

.questions-title {
  color: #232629;
  font-size: 20px;
  font-weight: 200;
}
