doctype html
html
  head
      block head
        title="Stalk Overflow"
        link(rel='stylesheet' href='../public/stylesheets/reset.css')
        link(rel='stylesheet' href='../public/stylesheets/index.css')
  body
    block content
